.facebookIcon {
    content:url("/src/asset/f_logo_with_white_back.png");
}

.jumbotronImage {
    content:url("/src/asset/bgimage.png");
}

.footerImage {
    background-image: url("/src/asset/footerImage.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size:cover;
}