*{
    box-sizing: border-box;
}
a:hover, a:visited, a:link, a:active {
    text-decoration: none;
    color: #622F92;
}

body {
    background-color: #F9F9F9;
    margin: 0px;
    padding: 0px;
}

@media (max-width: 1024px){
    body, html {
    overflow: auto!important;
    max-height: 100% !important;
    }
}

.navbar{
    background-color: #FAFAFA;
    padding: 0px;
    margin: 0px;
}

.addShadow{
    -webkit-box-shadow: 3px 6px 6px -6px #999;
    -moz-box-shadow: 3px 6px 6px -6px #999;
    box-shadow: 1px 1px 3px -0.5px #999;
}

.brand-font a{
    font-family: "Molleat";
    font-size: 25px;
    color: #622F92;
}

.centerAlign{
    text-align: center;
}

.topic{
    font-size: 18px;
    color: #622F92;
    margin-bottom: 20px;
}

.questionTitle{
    font-size: 15px;
    color: black;
    padding: 10px;
    margin: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-height: 1.4em;        /* fallback */
    max-height: 3.6em;       /* fallback */
}

.jumbotron{
    padding: 0px;
    overflow: hidden;
}

.imageSize{
    width: 100%;
}

.rollOver{
    cursor: pointer;
}

.gameContainer {
    background-color: #FFFFFF;
    margin-top: 50px;
    padding-bottom: 20px;
}

.falseSize {
    min-height: 511;
}

.gameOuterMargin {
    margin: 30px;
}

.gameImageContainer{
    height: 350px;
    padding: 20px;
}

.gameTitle{
    font-size: 24px;
    margin-top: 20px;
}

@media screen and (max-width: 520px) and (min-width: 320px){
    .gameImageContainer{
        height: 200px;
        padding: 20px;
    }
    .gameTitle{
        font-size: 18px;
        margin-top: 20px;
    }
}


.imageSize{
    max-width:100%;
    max-height:100%;
    object-fit: contain;
}

.loginButton, .loginButton:hover, .loginButton:focus {
    color: #FFFFFF;
    background-color: #3B5998;
}

.loginIcon {
    padding-right: 10px;
    position: relative;
    top:-2px;
}

.footerBody {
    min-height: 350px;
    position: relative;
}

@media screen and (max-width: 520px) and (min-width: 320px){
        .footerBody {
        min-height: 250px;
    }
}

.marginLinkFooter {
    margin: 20px
}

.marginBetweenText {
    margin: 20px
}
@media screen and (max-width: 520px) and (min-width: 320px){
    .marginBetweenText {
        margin: 10px
    }
}

.footerDisclamerColor {
    color: #999999
}

.footerTopMargin{
    margin-top: 50px 
}

.recommendedMargin{
    margin-top: 50px;
}

.iframeProp{
    border:none;
    overflow:hidden;
    max-width: 100%;
    height: 291px;
}

.iframeContainer{
    width: 100%;
    text-align: center;
}

.loaderText{
    font-size: 25px;
}

.cardImage{
    width: 300px;
    height: 200px
}

.positionLoader{
    position: absolute;
    left: 50%;
    margin: auto;
    -ms-transform: translate(-50%, 100%) scale(0.5); /* IE 9 */
    -webkit-transform: translate(-50%, 100%) scale(0.5); /* Chrome, Safari, Opera */
    transform: translate(-50%, 100%) scale(0.5);
}

.cardSizing{
    padding: 0px;
}

.paddingTitle{
    padding: 20px;
}

.paddingParagraph {
    padding: 30px
}

.linePadding {
    padding: 10px
}

.outputTextPadding {
    padding:  20px;
}

.leftAlign {
    text-align: left;
}