*{
    box-sizing: border-box;
}
a:hover, a:visited, a:link, a:active {
    text-decoration: none;
    color: #622F92;
}

body {
    background-color: #F9F9F9;
    margin: 0px;
    padding: 0px;
    font-family: 'Avenir Next';
}

@media (max-width: 1024px){
    body, html {
    overflow: auto!important;
    max-height: 100% !important;
    }
}

@font-face {
    font-family: "Molleat";
    src: url("/src/asset/font/Molleat.otf");
}

@font-face {
    font-family: "Avenir Next";
    src: url("/src/asset/font/avenir-next-regular.ttf");
}

.navbar{
    background-color: #FAFAFA;
    padding: 0px;
    margin: 0px;
}

.addShadow{
    -webkit-box-shadow: 1px 1px 3px -0px #999;
    -moz-box-shadow: 1px 1px 3px -0px #999;
    box-shadow: 1px 1px 3px -0.5px #999;
}

.brand-font a{
    font-family: "Molleat";
    font-size: 25px;
    color: #622F92;
}

.centerAlign{
    text-align: center;
}

.topic{
    font-size: 30px;
    color: #4F4F4F;
    margin-bottom: 20px;
    margin-left: 10px;
    font-weight: bold;
}

.questionTitle{
    font-size: 25px;
    color: black;
    padding: 10px;
    padding-top: 20px;
    margin: 0px;
    line-height: 140%;
}

.jumbotron{
    padding: 0px;
    overflow: hidden;
}

.imageSize{
    width: 100%;
}

.gameContainer {
    background-color: #FFFFFF;
}

.falseSize {
    min-height: 200px;
}

.gameOuterMargin {
    margin: 30px 0px;
    padding: 20px 0px;
}

.gameTitle{
    font-size: 24px;
    margin-bottom: 10px;
}

.gameImageContainer{
    padding: 0px;
}

@media screen and (max-width: 520px) and (min-width: 320px){
    .gameTitle{
        font-size: 18px;
        margin-bottom: 10px;
    }

    .gameImageContainer{
        margin-bottom: 20px;
        padding: 0px;
    }
}

.questionImageSize{
    width: 100%
}

.imageSize{
    max-width:100%;
    max-height:100%;
    object-fit: contain;
}

.loginButton, .loginButton:hover, .loginButton:focus {
    color: #FFFFFF;
    background-color: #3B5998;
    margin-top: 20px;
}

.shareButton, .shareButton:hover, .shareButton:focus {
    color: #FFFFFF;
    background-color: #3B5998;
    width: 250px;
    display: inline-block;
}

.loginIcon {
    padding-right: 10px;
    position: relative;
    top:-2px;
}

.footerBody {
    min-height: 200px;
    position: relative;
}

@media screen and (max-width: 520px) and (min-width: 320px){
        .footerBody {
        min-height: 150px;
    }
}

.marginLinkFooter {
    margin: 20px
}

.marginBetweenText {
    margin: 20px
}
@media screen and (max-width: 520px) and (min-width: 320px){
    .marginBetweenText {
        margin: 10px
    }
}

.footerDisclamerColor {
    color: #999999
}

.footerTopMargin{
    margin-top: 100px 
}

.recommendedMargin{
    margin-top: 50px;
    padding-top: 12px;
}
@media screen and (max-width: 520px) and (min-width: 320px){
    .recommendedMargin{
        margin-top: 10px;
        padding-top: 12px;
    }
}

.iframeProp{
    border:none;
    overflow:hidden;
    max-width: 100%;
    height: 291px;
}

.iframeContainer{
    width: 100%;
}

.loaderText{
    font-size: 25px;
}

.positionLoader{
    position: absolute;
    left: 50%;
    margin: auto;
    -ms-transform: translate(-50%, 100%) scale(0.5); /* IE 9 */
    -webkit-transform: translate(-50%, 100%) scale(0.5); /* Chrome, Safari, Opera */
    transform: translate(-50%, 100%) scale(0.5);
}

.paddingTitle{
    padding: 20px;
}

.paddingParagraph {
    padding: 30px
}

.linePadding {
    padding: 10px
}

.outputTextPadding {
    padding: 20px;
    padding-top: 10px;
}

.innerTextPadding {
    margin: 20px 10px;
}

.youtubeVideoDisplay {
    z-index: 1;
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: auto;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.7);
}

.fullWindow{
    display: flex;
    width:100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.alignRight{
    text-align: right;
}

.pager li > a.disableLink:hover, a.disableLink:visited, a.disableLink:link, a.disableLink:active {
    text-decoration: none;
    color: #CCCCCC;
    background-color: #ffffff;
}

.pager li{
    margin: 10px;
}

.containerMargin {
    margin: 20px
}

@media screen and (max-width: 520px) and (min-width: 320px){
    .containerMargin {
        margin: 0px
    }
}

.roundedCorner {
    border-radius: 15px;
}

.more{
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
}

.padding15{
    padding: 0px 15px;
}

.paddingRecommendedQuote{
    padding: 10px 0px;
}

.recommendedQuote{
    margin: 20px 5px;
}

.playButton{
    position: absolute;
    width: 50px;
    height: 50px;
    -ms-transform: translate(-10px, -25px); /* IE 9 */
    -webkit-transform: translate(-10px, -25px); /* Safari */
    transform: translate(-10px, -25px);
}

.likeIframe{
    border: none;
    overflow:hidden;
    scrolling: no;
    frameborder: 0;
    allowTransparency:true;
    width:90px;
    height:28px;
}